<!DOCTYPE html>
<html>
<head>
    <title>Jacob Development Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <a class="navbar-brand" href="/blogs">Blog</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link">Left Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Left Link 2</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link">Right Link 1</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link">Right Link 2</a>
    </li>
  </ul>
</nav>
