<!DOCTYPE html>
<html>
<head>
    <title>Jacob Development Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <a class="navbar-brand" href="/blogs">Jacob's Blog</a>

  <ul class="navbar-nav mr-auto">
      <% if(currentUser) { %>
      <li class="nav-item active ">
      <a class="nav-link" href="/blogs/new">Add New Post</a>
    </li>
      <% }  %>
  </ul>

          <% if(currentUser) { %>
            <ul class="navbar-nav navbar-right navbar-nav">
             <li class="navbar-item ">
              <span class="nav-link">Welcome, <%= currentUser.username %></span>
            </ul>
            <a href="logout" class="btn btn-primary btn-sm">Log Out</a>
            <% }  %>
   


 
<!--   <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link">Login</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link">Sign up</a>
    </li>
  </ul> -->


    <% if(!currentUser) { %>
    <form action="/login" class="navbar-form navbar-right navbar-nav mr-sm-2" role="search" method="POST">
      <div class="auth">
          <input type="text" class="form-control-sm nav-item" name="username" placeholder="Username">
      </div>
      <div style="margin-right: 1em;">
          <input type="password" class="form-control-sm" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default btn-sm">Login</button> -->
   </form>
   <a class="btn btn-primary btn-sm" href="/register">Register</a>
   <% }  %>
</nav> 


<!-- 
                    <div class="auth">
                        <input type="text" class="form-control-sm nav-item" name="username" placeholder="Username">
                    </div>
                    <div style="margin-right: 1em;">
                        <input type="password" class="form-control-sm" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm">Login</button> -->


                         
<!--         <li><a href="/login" class="btn btn-primary btn-sm">Login</a></li>
      </ui>            
 -->    