<!DOCTYPE html>
<html>
<head>
    <title>Jacob Development Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <a class="navbar-brand" href="/blogs">Jacob's Blog</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="blogs/new">Add New Post</a>
    </li>
<!--     <li class="nav-item">
      <a class="nav-link">Left Link 2</a>
    </li> -->
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link">Login</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link">Sign up</a>
    </li>
  </ul>
</nav>
