<!DOCTYPE html>
<html>
<head>
    <title>Jacob Development Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=xgd40b9f841pg0vji5v00nuyai5v882vguefqnqxugffro2o">
    </script>
    <script>tinymce.init({ selector:'textarea' });</script>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/blogs">Jacob's Blog</a>
  <ul class="navbar-nav mr-auto">
      <% if(currentUser) { %>
          <li class="nav-item active ">
            <a class="nav-link" href="/blogs/new">Add New Post</a>
          </li>
      <% }  %>
  </ul>
      <% if(currentUser) { %>
        <ul class="navbar-nav navbar-right navbar-nav">
          <li class="navbar-item ">
            <span class="nav-link">Welcome, <%= currentUser.username %></span>
          </li>
        </ul>
        <a href="/logout" class="btn btn-primary btn-sm">Log Out</a>
      <% }  %>
    <% if(!currentUser) { %>
      <div>
        <a href="/login" class="btn btn-secondary btn-sm">Login</a>
        <a href="/register" class="btn btn-primary btn-sm">Register</a>
      </div>
   <% }  %>
</nav> 