<% include ../partials/header.ejs %>

<div class="container index">
	<div class="row">
		<div class="container">
			<div class="container" style="text-align: center">
				<h2>Add Comment To</h2>
				<h4>"<%= blog.title %>"</h4>
			</div>
			<div>
				<form action="/blogs/<%= blog._id %>/comments" method="POST">
					<div>
						<div class="form-group">
							<input class="form-control" type="text" name="comments[author]" placeholder="<%=blog.author %>">	
						</div>
						<div class="form-group">
							<textarea class="form-control" name="comments[desc]" rows="25"></textarea>
						</div>
						<button class="btn btn-success">Post!</button>
					</div>	
				</form>	
			</div>	
		</div>
	</div>
</div>

<% include ../partials/footer.ejs %>

<!-- 
log out is not working correctly -->
