<% include ./partials/header.ejs %>

<div class="container">
	<div class="row">
		<h1>Here is the Index page</h1>
	</div>
	<a href="blogs/new" class="btn btn-primary">Add a new post</a>
</div>
<% include ./partials/footer.ejs %>
