

<div class="container">
	<div class="row">
		<div class="container">
			<div class="container">
				<h1 style="text-align: center">New Comment</h1>
			</div>
			<div>
				<form action="/blogs/<=" method="POST">
					<div>
						<div class="form-group">
							<input class="form-control" type="text" name="blog[title]" placeholder="Title">
						</div>
						<div class="form-group">
							<input class="form-control" type="text" name="blog[author]"    placeholder="Author">	
						</div>
						<div class="form-group">
							<textarea class="form-control" name="blog[desc]" rows="25"></textarea>
						</div>
						<button class="btn btn-success">Post!</button>
					</div>	
				</form>	
			</div>	
		</div>
	</div>
</div>

