<!DOCTYPE html>
<html>
    <head>
        <title>Jacob's Dev Blog</title>

  		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    

    
    <div id="landing-header">
    	<h1>Welcome to Jacob's Dev Blog</h1>
		<a href="/blogs" class="btn btn-lg btn-success">Enter</a>
    </div>
    </body>

