
/*h1 {
	padding-top: 30px;
	padding-left: 10px;
	font-size: 50px;
}
*/

.auth{
	margin-right: .5em;
}

h1{
	font-size: 3.5em;
}

.borders {
	border: 1px solid black;
/*	padding-bottom: 20px;*/
}

#desc {
	padding-top: 15px;
}

#author a {
	color: black;
	font-family: bold;
	font-size: 20px;
}

p em {
	padding-left: 8px;
	padding-top: 0px;
	margin: 0;
	font-size: 12px;
}

/*#back {
	position: fixed; bottom: 0;
	padding-left: 10px;
	padding-bottom: 10px;
}*/

.index {
	padding-top: 40px;
	padding-bottom: 30px;
}

#posts {
	padding-bottom: 100px;
}



.form {
	padding-top: 40px;
}

.bottom {
	padding-bottom: 50px;
}

.form-control{
	margin-bottom: .5em;
}

.reg{
	text-align: center; 
	margin-top: .5em;
	margin-bottom: 1em;
}

.nav-link {
	font-size: .8em;
}
