
/*h1 {
	padding-top: 30px;
	padding-left: 10px;
	font-size: 50px;
}
*/

.postComments {
	margin-top: 3em;
}

.commentAuthor {
	margin-top: 1em;
}
*{
	font-family: 'Quicksand', sans-serif;
}

.auth{
	margin-right: .5em;
}

h1{
	font-size: 2m;
	font-family: 'Quicksand', sans-serif;
	
}

#under{
	margin-bottom: .2rem!important;

}

.subtitle {
	color: #B4B0B0;
}



.borders {
	border: 1px solid black;
/*	padding-bottom: 20px;*/
}

#desc {
	padding-top: 15px;
}

.author {
	color: #36A64C;
	font-family: 'Caveat', cursive;
	font-size: 1.25em;
}

.author a {
	color: #6E9AF8;
	font-family: bold;
	font-size: 20px;
}

p em {
	padding-left: 8px;
	padding-top: 0px;
	margin: 0;
	font-size: 12px;
}

/*#back {
	position: fixed; bottom: 0;
	padding-left: 10px;
	padding-bottom: 10px;
}*/

.index {
	padding-top: 40px;
	padding-bottom: 30px;
}

#posts {
	padding-bottom: 100px;
}



.form {
	padding-top: 40px;
}

.bottom {
	padding-bottom: 50px;
}

.form-control{
	margin-bottom: .5em;
}

.reg{
	text-align: center; 
	margin-top: 3em;
	margin-bottom: 1em;
}

.nav-link {
	font-size: .8em;
}

.readMore {
	margin-bottom: 1em;
	margin-top: 1em;
}